{{ define "page_element" }}
{{$button:=.button}}
{{$quote:=.quote}}
<section class="page-element">
  <section class="text-content">
    {{ range $index,$element:=.titleWithDescriptions }}
    {{ if ne $element.title "" }}

    {{ if eq $index 0 }}
    <h1>{{$element.title}}</h1>
    {{else}}
    <h2>{{$element.title}}</h2>
    {{ end }}
    {{ end }}
    <section>
      {{ $element.content | safeHTML }}
    </section>
    <section class="button-and-quote">

      {{ if $button }}
      {{ block "button" $button }}

      {{ end }}
      {{ end }}
      {{ if $quote }}
      <span class="quote">{{$quote | safeHTML}}</span>
      {{ end }}
    </section>
  </section>
  <section class="image-content">
    {{ range $element.images }}
    <img src="{{.url}}" alt="{{.altText}}">
    {{ end }}
  </section>
  {{ end }}
</section>
{{ end }}