$grade_a: #4f9f30;
$grade_b: #51b84b;
$grade_c: #cadb2a;
$grade_d: #f6eb15;
$grade_e: #fecd06;
$grade_f: #f99839;
$grade_g: #ed2124;

$color_background: #ffffff !default;
$color_text: #30514c !default;
$color_background_secondary: #30514c !default;
