/* Colors definition */
$color_primary: #f6cb02;
$color_secondary: #e91e63;
$color_text: #000;
$color_background: #48298a;
$color_background_darker: #01022c;

/* Margin definition */
$small_margin: 0.5rem;
$medium_margin: 1rem;
$large_margin: 5rem;
$white: #ffffff;
$black: #000000;
$green_main: #62ffc6;
