{{ define "main" }}
  <h1>Les 5 erreurs à éviter</h1>
  <div class="mistakes">
    <img src="/img/overreact.gif" alt="Overreacting" />
    <span> Trop compenser les mouvements du gyropode. </span>
    <img src="/img/jousting.gif" alt="jousting on segway" />
    <span> Percuter son voisin. </span>
    <img src="/img/turn-fail.gif" alt="turn fail" />
    <span>Tourner trop fort. </span>
    <img src="/img/not-charged.gif" alt="not charged segway" />
    <span> Oublier de charger son gyropode. </span>
    <img src="/img/overspeed.gif" alt="overspeed" />
    <span>Overspeed.</span>
  </div>
{{ end }}
