{{ define "eco-level" }}
{{$grade := .Params.grade}}
{{$score := .Params.score | truncate 4 ""}}
{{$water := mul .Params.water 10}}
<h2>{{i18n "eco_level_title"}}</h2>
<ul class="ecoindex__list">
  {{ range .Site.Params.grades }}
  <li class="eco-index {{ if eq . $grade }}active{{end}}">{{.}}</li>
  {{ end }}
</ul>
<ul>
  <li>{{i18n "eco_level_score" (dict "score" $score) | safeHTML}}</li>
  {{ block "water-consumption" (dict "water" $water "isAverage" true) }}

  {{ end }}
  {{ block "gaz-consumption" (merge (dict "isAverage" true "converter" .Site.Params.GES_CONVERTER) .Params) }}{{end}}
</ul>
{{ end }}